<%- include('cabecera'); %>
<h1>Ficha de contacto</h1>
<ul>
    <li><strong>Nombre:</strong> <%=contacto.nombre%></li>
    <li><strong>Teléfono:</strong> <%=contacto.telefono%></li>
    <li><strong>Edad:</strong> <%=contacto.edad%></li>    
</ul>
<%- include('pie'); %>